﻿@model Comment
<form asp-controller="Posts" asp-action="SaveComment" method="post">
<div>
    <input name="commentId" type="hidden" value="@Model?.CommentsId" />
    <input name="blogId" type="hidden" value="@Model?.BlogPostId" />
    <div class="lg:w-3/4 md:w-3/3 mx-auto">
        <div class="flex flex-wrap -m-2">
            <div class="p-2 w-1/4">
                <div class="relative">
                    <label for="name" class="leading-7 text-sm text-gray-600">Nickname</label>
                    <input type="text" id="name" name="userName" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" @Model.UserName>
                </div>
            </div>
            <div class="p-2 w-full">
                <div class="relative">
                    <label for="message" class="leading-7 text-sm text-gray-600">Comment</label>
                    <textarea id="message" name="userComment" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out">@Model.UserComment</textarea>
                </div>
            </div>
            <div class="p-2 w-full">
                <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Button</button>
            </div>

        </div>
    </div>
    
</div>
</form>
