﻿@model BlogPostViewModel

<div>
    <h1 class="title-font font-medium text-xl mb-2 text-gray-900 my-5">Comments</h1>
    <ul>
        @foreach (var comment in Model.Comments)
        {
            <li>
                <label for="name" class="leading-7 text-sm text-gray-600">@comment.UserComment</label>
                <output class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 h-auto"></output>
            </li>
        }
    </ul>
</div>
