﻿@model BlogPost
<form asp-controller="Admin" asp-action="SaveBlogPost" method="post">
    <h1>Posts</h1>
    
    <input name="id" type="hidden" value="@Model?.Id)" />
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto flex flex-col">
            <div class="lg:w-4/6 mx-auto">
                <div class="rounded-lg h-64 overflow-hidden">
                    <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/1200x500">
                </div>
                <div class="flex flex-col sm:flex-row mt-10">

                    <div class="text-center">
                        <h1 name="header" class="title-font font-medium text-xl mb-2 text-gray-900"> @Model?.Header</h1>

                        @Html.Raw(@Model?.Content)

                    </div>
                </div>

            </div>
        </div>
    </section>
    
</form>
<section id="call-to-action" class="call-to-action">
    <div class="container text-center" data-aos="zoom-out">

        <a class="cta-btn" asp-controller="Posts" asp-action="Comment" asp-route-id="@Model?.Id">Comment</a>
    </div>
</section>