﻿@model BlogPost

<form asp-controller="Admin" asp-action="SaveBlogPost" method="post">
    <input name="id" type="hidden" value="@Model.Id" />
    <div class="rounded-lg h-64 overflow-hidden">
        <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/1200x500"> @*Czy tego nie lepiej zamianić na input type = "image" ??*@
    </div>
    <label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Tytuł</label>
    <textarea name="header" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"> @Model.Header</textarea>
    <label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Post</label>
    <div class="form-group">
        <textarea id="summernote" name="content" class="form-control" rows="10">
            @Model.Content
        </textarea>
    </div>
    <label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Opis na strone główną</label>
    <div class="form-group">
        <textarea id="summernote" name="description" class="form-control" rows="10">@Model.Description</textarea>
    </div>
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-12">
            <div class="p-12 md:w-1/2 flex flex-col items-start">
                <span class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Kategoria</span>
                <textarea id="summernote" name="category" class="form-control" rows="6">@Model.Category</textarea>
               </div>
            <div class="p-12 md:w-1/2 flex flex-col items-start">
                <span class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Tagi</span>
                <textarea id="summernote" name="content" class="form-control" rows="6"></textarea>
            </div>
        </div>
    </div>
    <div class="rounded-lg h-64 overflow-hidden ">
        <span class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Zdjecie 2</span>
        <img alt="content" class="object-cover object-center h-full w-64" src="https://dummyimage.com/1200x500">
    </div>

    <div id="dropzone">
        <div class="dz-message">
            <i class="fa fa-cloud-upload"></i>
            <p>Przeciągnij i upuść zdjęcie tutaj</p>
        </div>
    </div>

    <script>
        var dropzone = document.getElementById("dropzone");

        // Obsługa zdarzenia dragover
        dropzone.addEventListener("dragover", function (e) {
            e.preventDefault();
            e.stopPropagation();
            dropzone.classList.add("dragover");
        });

        // Obsługa zdarzenia dragleave
        dropzone.addEventListener("dragleave", function (e) {
            e.preventDefault();
            e.stopPropagation();
            dropzone.classList.remove("dragover");
        });

        // Obsługa zdarzenia drop
        dropzone.addEventListener("drop", function (e) {
            e.preventDefault();
            e.stopPropagation();
            dropzone.classList.remove("dragover");

            // Pobranie pliku z e.dataTransfer.files
            var file = e.dataTransfer.files[0];

            // Przetwarzanie pliku (np. wysłanie go na serwer)
        });
    </script>

    @*Czy tego nie lepiej zamianić na input type = "image" ??*@
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

@section Scripts {
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#summernote').summernote();
        });
    </script>
}