﻿@model BlogInformation
@{
    ViewData["Title"] = "BlogInformations";
}

<form asp-controller="Admin" asp-action="SaveBlogInformations" method="post">
    <input name="titleInformations" type="hidden" value="@Model?.TitleInformations" />
	<div class="w-full py-10 px-2 rounded bg-indigo-50 text-center">
        <label class="inline-block  text-black text-xs font-medium tracking-widest">Edycja informacji na blogu</label>
    </div>
<div class="w-full sm:p-10 px-4 mb-6 py-10 text-center">
        <label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Nazwa bloga</label>
        <textarea  name="blogname" class="form-control">@Model?.BlogName</textarea>
    </div>
<div class="flex flex-col text-center w-full ">
    <label class="inline-block py-5 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Zakładka "o mnie"</label>
</div>
<div class="container mx-auto flex px-4 py-1 md:flex-row flex-col items-center text-center">

    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0 text-center ">
        <label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Zdjęcie</label>
        <img class="object-cover object-center rounded" alt="hero" src="https://dummyimage.com/720x600">
        </div>
    <div class=" lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start items-center text-center">
        <label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Nagłówek</label>
            <textarea name="aboutMeTitle" class="form-control"> @Model?.AboutMeTitle</textarea>
	</div>
</div>
<div class="text-center">
	<label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Opis</label>
<textarea  name="aboutMeDetails" class="form-control">@Model?.AboutMeDetails</textarea>
</div>
<div class="flex flex-col text-center w-full py-24">
    <label class="inline-block py-5 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Zakładka kontakt</label>
     <div class="w-full sm:p-10 px-4">
        <label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Email</label>
        <textarea  name="adminContactEmail" class="form-control">@Model?.AdminContactEmail</textarea>
        <label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Adres</label>
        <textarea  name="adminContactAddress" class="form-control">@Model?.AdminContactAddress</textarea>
    </div>
</div>
<div class="flex flex-col text-center w-full ">
    <label class="inline-block py-5 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Zakładka polityka prywatności</label>
    <div class="w-full sm:p-10 px-4  py-10">
        <label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Tytuł polityki prywatności</label>
        <textarea name="privacyTitle" class="form-control">@Model?.PrivacyTitle</textarea>
        <label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Opis polityki prywatności</label>
        <textarea name="privacyPolicy" class="form-control">@Model?.PrivacyPolicy</textarea>
    </div>
</div>
<div class="flex flex-col text-center w-full py-20">
    <label class="inline-block py-5 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Edycja stopki</label>
    <div class="container px-5 py-10 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
        <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Kategoria</label>
                <textarea name="category1" class="form-control">@Model?.FooterCategory</textarea>
                <nav class="list-none mb-10">
                    <li>
                        <label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">link 1</label>
                        <textarea name="category1Link1" class="form-control">@Model?.Footerlinks</textarea>
                    </li>
                    <li>
                        <label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Link 2</label>
                            <textarea name="category1Link2" class="form-control"></textarea>
                    </li>
                    <li>
                        <label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Link 3</label>
                            <textarea name="category1Link3" class="form-control"></textarea>
                    </li>
                    <li>
                         <label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Link 4</label>
                            <textarea name="category1Link4" class="form-control"></textarea>
                    </li>
                </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Kategoria</label>
                <textarea name="category2" class="form-control"></textarea>
                <nav class="list-none mb-10">
                    <li>
                        <label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">link 1</label>
                            <textarea name="category2Link1" class="form-control"></textarea>
                    </li>
                    <li>
                        <label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Link 2</label>
                            <textarea name="category2Link2" class="form-control"></textarea>
                    </li>
                    <li>
                        <label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Link 3</label>
                            <textarea name="category2Link3" class="form-control"></textarea>
                    </li>
                    <li>
                        <label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Link 4</label>
                            <textarea name="category2Link4" class="form-control"></textarea>
                    </li>
                </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Kategoria</label>
                <textarea name="category3" class="form-control"></textarea>
                <nav class="list-none mb-10">
                    <li>
                        <label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">link 1</label>
                            <textarea name="category3Link1" class="form-control"></textarea>
                    </li>
                    <li>
                        <label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Link 2</label>
                            <textarea name="category3Link2" class="form-control"></textarea>
                    </li>
                    <li>
                        <label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Link 3</label>
                            <textarea name="category3Link3" class="form-control"></textarea>
                    </li>
                    <li>
                        <label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Link 4</label>
                            <textarea name="category3Link4" class="form-control"></textarea>
                    </li>
                </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Kategoria</label>
                <textarea name="category4" class="form-control"></textarea>
                <nav class="list-none mb-10">
                    <li>
                        <label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">link 1</label>
                            <textarea name="category4Link1" class="form-control"></textarea>
                    </li>
                    <li>
                        <label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Link 2</label>
                            <textarea name="category4Link2" class="form-control"></textarea>
                    </li>
                    <li>
                        <label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Link 3</label>
                            <textarea name="category4Link3" class="form-control"></textarea>
                    </li>
                    <li>
                        <label class="inline-block py-1 px-2 rounded bg-indigo-50 text-black text-xs font-medium tracking-widest">Link 4</label>
                            <textarea name="category4Link4" class="form-control"></textarea>
                    </li>
                </nav>
            </div>
        </div>
    </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
</div>
</form>
@section Scripts {
        <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#summernote').summernote();
            });
        </script>
}
