﻿@model ViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin";
}
<h1>Admin Panel</h1>



<div class="container px-0 py-24 mx-auto flex flex-wrap">
    <div>
		<button class="bg-gray-100 inline-flex py-3 px-5 rounded-lg items-center hover:bg-gray-200 focus:outline-none">
			<a class="title-font font-medium" asp-controller="Admin" asp-action="AddEditBlogPost">Add new blog post</a>
		</button>
		<button class="bg-gray-100 inline-flex py-3 px-5 rounded-lg items-center hover:bg-gray-200 focus:outline-none">
            <a asp-controller="Admin" asp-action="BlogInformation" asp-route-titleInformations="test">Change informations</a>
		</button>
        <button class="bg-gray-100 inline-flex py-3 px-5 rounded-lg items-center hover:bg-gray-200 focus:outline-none">
            <a asp-controller="Admin" asp-action="Message" >Messages</a>
        </button>
    </div>
    <div class="flex flex-wr ap w-full">

           
        @await Html.PartialAsync("ViewBlogPosts", Model?.BlogPostViewModel)

    </div>
</div>
