﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<CMS_shop.Models.ContactMessage>
<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <div class="-my-8 divide-y-2 divide-gray-100">
            @foreach (var item in Model)
            {
                <div class="py-8 flex flex-wrap md:flex-nowrap">
                    <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                        <span class="font-semibold title-font text-gray-700"> @Html.DisplayFor(modelItem => item.UserName)</span>
                        <span class="mt-1 text-gray-500 text-sm"> @Html.DisplayFor(modelItem => item.UserEmail)</span>
                    </div>
                    <div class="md:flex-grow">
                        <h2 class="text-2xl font-medium text-gray-900 title-font mb-2"> @Html.DisplayFor(modelItem => item.UserMessage)</h2>
                        <p class="leading-relaxed"> @Html.DisplayFor(modelItem => item.MessageDate)</p>
                    </div>
                </div>
            }

        </div>
    </div>
</section>