﻿@model IEnumerable<CMS_shop.Models.BlogPost>


@{
    ViewData["Title"] = "ViewBlogPosts";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastEditTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Header)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewsCounter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastEditTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Header)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewsCounter)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            <td>
                    <a class="mr-5 hover:text-gray-900" asp-controller="Admin" asp-action="AddEditBlogPost" asp-route-id="@item.Id">Edit |</a>
                    <a class="mr-5 hover:text-gray-900" asp-controller="Posts" asp-action="Index" asp-route-id="@item.Id" >Detail |</a>
                @Html.ActionLink("Delete |", "Delete", new { /* id=item.PrimaryKey */ })
                    <a class="mr-5 hover:text-gray-900" asp-controller="Posts" asp-action="Index" asp-route-id="@item.Id">Comments |</a>
            </td>
        </tr>
}
    </tbody>
</table>
