﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



    <header id="header" class="header d-flex align-items-center">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <h1>Zra<span>.</span></h1>
            </a>
            <nav id="navbar" class="navbar">
                <ul class="navbar flex-grow-1">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="AboutMe" asp-action="Index">About me</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                    </li>
                    <li class="dropdown">
                    <a href="#"><span>Menu</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </li>
                <partial name="../Shared/_LoginPartial" />
                </ul>
            </nav><!-- .navbar -->

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        </div>
        </header>
    @*<header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center" style="background-image: url('../../Imagine/tlo_1.png');">
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" asp-controller="Home" asp-action="Index">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
               
                <span class="ml-3 text-xl"></span>
            </a>
            @foreach (var item in Model)
            {
            <h1>@Html.DisplayFor(modelItem => item.BlogName)</h1>
            }
            <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
                <a class="mr-5 hover:text-gray-900" asp-controller="Home" asp-action="Index">Home</a>
                <a class="mr-5 hover:text-gray-900" asp-controller="Home" asp-action="Privacy">Privacy</a>
                <a class="mr-5 hover:text-gray-900" asp-controller="AboutMe" asp-action="Index">About me</a>
                <a class="mr-5 hover:text-gray-900" asp-controller="Admin" asp-action="BlogInformation">test view</a>
                <a class="mr-5 hover:text-gray-900" asp-controller="Contact" asp-action="Index">Contact</a>
                <a class="mr-5 hover:text-gray-900" asp-controller="Admin" asp-action="Index">Admin</a>
                <a class="mr-5 hover:text-gray-900" asp-controller="Posts" asp-action="Index">Posts</a>
            </nav>
            <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0 ">
                Login
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </button>
        </div>
    </header>*@
