﻿@model IEnumerable<CMS_shop.Models.BlogPost>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}





<div class="text-center">
    <h1 class="display-4"></h1>
    <p></a>.</p>
</div>
<section id="hero" class="hero">
     @foreach (var item in Model)
            {
        
                <div class="container position-relative">
        <div class="row gy-5" data-aos="fade-in">
            <div class="col-lg-12  order-lg-1 d-flex flex-column justify-content-center text-center caption">
                    <h2>@Html.DisplayFor(modelItem => item.Header)<span class="circle"></span></h2>
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                    <img src="@item.SmallPhotoPath" alt="Post image" class="img-fluid" />
            </div>
        </div>
    </div>

    <div class="icon-boxes position-relative ">
        <div class="container position-relative">
            <div class="row gy-4 mt-5 ">
                <div class="col-xl-4 col-md-4 card-two" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box ">
                        <div class="icon"><i class="bi bi-headset"></i></div>
                            <h2 class="title">
                                <a class="stretched-link" asp-controller="Posts" asp-action="Index" asp-route-id="@item.Id">
                                   Read more
                                </a>
                        </h2>
                    </div>
                </div>
                <!--End Icon Box -->
            </div>
        </div>
    </div>
    }
    </section>
@*<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <div class="-my-8 divide-y-2 divide-gray-100">
            @foreach (var item in Model)
            {
                <div class="py-8 flex flex-wrap md:flex-nowrap">
                    <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                        <span class="font-semibold title-font text-gray-700">@Html.DisplayFor(modelItem => item.Category)</span>
                        <span class="mt-1 text-gray-500 text-sm">@Html.DisplayFor(modelItem => item.CreatedTime)</span>
                    </div>
                    <div class="md:flex-grow">
                        <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">@Html.DisplayFor(modelItem => item.Header)</h2>
                        <p class="leading-relaxed">@Html.DisplayFor(modelItem => item.Description)</p>
                        <a class="text-indigo-500 inline-flex items-center mt-4" asp-controller="Posts" asp-action="Index" asp-route-id="@item.Id">
                            Learn More
                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            }
           
        </div>
        </div>
</section>*@