﻿@*@model IEnumerable<CMS_shop.Models.BlogInformation>*@
@model CMS_shop.Models.BlogInformation

@{
    ViewData["Title"] = "Privacy Policy";
}

@*<div class="w-full sm:p-4 px-4 mb-6">
    @foreach(var item in Model)
    @foreach (var item in Model.BlogInformationViewModel)
    {
       <h1 class="title-font font-medium text-xl mb-2 text-gray-900">@Html.DisplayFor(modelItem => item.PrivacyTitle)
    </h1>
        <div class="leading-relaxed">@Html.DisplayFor(modelItem => item.PrivacyPolicy)</div>
    }
    
</div>*@

<h1 class="title-font font-medium text-xl mb-2 text-gray-900">
    @Html.DisplayFor(modelItem => Model.PrivacyTitle)
</h1>
<div class="leading-relaxed">@Html.DisplayFor(modelItem => Model.PrivacyPolicy)</div>
